@font-face {
    font-family: 'uppereastsideregular';
    src: url('../UpperEastSide-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
  --smallFileName: url("../images/bgsmall1.jpg");
  --medFileName: url("../images/bgmed1.jpg");
  --bigFileName: url("../images/bgbig1.jpg");
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Mallanna', sans-serif;
}

body{
  background-color: #fbfbfb;
}



.fade-enter-active {
  transition: all .25s ease-in;
}
.fade-leave-active {
  transition: all .25s ease-out;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}



h3{
  margin: 0 auto 4em;
  text-align: center;
  color: #3a3a3a;
  max-width: 90%;
}

.yahoo img{
  vertical-align: bottom;
}

p > a:not(.yahoo), h2 a, h3 a{
  text-decoration: underline;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #e1e1e1;
  color: #700080;
}

p > a:hover:not(.yahoo), h2 a:hover, h3 a:hover{
  color: #e1e1e1;
  background-color: #700080;
}

footer p > a:first-of-type{
  letter-spacing: 4px;
}

.warning{
  color: #e1e1e1;
  background-color: #80000f;
  border: 1px dashed #f5d76e;
}

#loc a{
  cursor: pointer;
}



header{
  margin-top: 6.5em;
}


h1{
  margin: 0 auto 1.5em;
  font-family: 'uppereastsideregular';
	font-size: 52px;
  letter-spacing: 6px;
  text-align: center;
  width: 95%;
  color: #3a3a3a;
}

p{
  margin: 0 2em;
  color: blue;
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0 2em;
}

footer p{
  margin: 0;
  font-size: 15px;
  color: #2f2928;
}

aside{
  margin-top: 4px;
}

aside p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

aside p img{
  vertical-align: middle;
}



.photo-hold{
  width: 300px;
  height: 500px;
  background: red;
  margin: 6.5em auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}


.expand-enter, .expand-leave-to{
  height: 0px;
  margin-top: 0;
}
.expand-enter-active, .expand-leave-active{
  transition: all 1s cubic-bezier(0.24, 1, 0.8, 1.44);
}


.camera, .video-output{
  width: 90%;
  height: 45%;
  background: blue;
  /* margin: auto; */
}


#videocanvas{
  display: none;
}





.greenBackground{
  background-color: #0f8000;
}

ul{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

li{
  display: flex;
  flex-direction: column;
  margin: 0 .5em 2em;
  align-items: center;
}

li img{
  margin-bottom: .75em;
}

li, li span{
  font-family: 'Poiret One', cursive;
  font-size: 26px;
}

li span{
  font-style: italic;
  margin-bottom: .5em;
  text-align: center;
}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8em;
}

form div{
  display: flex;
  flex-direction: column;
}

label{
  /* display: block; */
  text-align: center;
}

fieldset{
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr{
  width: 90%;
  border: .5px solid black;
  margin: auto;
}

fieldset:nth-of-type(1){
  /* border-bottom: 1px solid black; */
}

fieldset:nth-of-type(2){
  margin-top: 1em;
}

legend{
  font-family: 'Limelight', cursive;
  width: 100%;
  color: #3a3a3a;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: .5em;
}

fieldset input{
  display: block;
  margin: 0 auto 1em;
  width: 148px;
}


fieldset input[type="color"]{
  width: 100px;
  border: none;
  background-color: transparent;
  margin: 0 auto .5em;
  height: 30px;
}

fieldset select{
	margin-bottom: 1em;
}


input[type="checkbox"]{
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  width: 20px;
  margin: 0 0 0 10px;
}

input[type="checkbox"]:after{
  content: "x";
  position: relative;
  display: block;
  top: 4px;
  width: 20px;
  text-align: center;
  font-size: 39px;
  line-height: 8px;
  color: #fbfbfb;
  background-color: #80000f;
  height: 17px;
}

input[type="checkbox"]:checked:after{
  content: "\2713";
  font-size: 26px;
  line-height: 17px;
  background-color: #0f8000;
}


#puzz{
  margin-top: 2em;
  margin-bottom: 1em;
}



#code{
  background-color: #eee;
  min-height: 500px;
  padding: 5px;
}

.blurry{
  filter: blur(4px);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.newwindow::after{
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url('../images/newwindow.png') 0 0 no-repeat;
}

[v-cloak]{
  display: none;
}

pre span,
pre code{
  color: #80000f;
  font-family: monospace;
}

pre code{
  white-space: pre-line;
}

#lang-select{
  display: grid;

  grid: "larrow ctext rarrow" 60% "lcopy . remail" 40% / 52px auto 52px;
  place-items: center;
  width: 90%;
  height: 160px;
  margin-bottom: 4em;
  background: url('../images/langbanner.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}

button:focus{
	outline: none;
}

#copy-email{
  position: relative;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 105px;
  background-color: #2b2833; */
}

.codeOverlay:after{
  /* display: block; */
  position: absolute;
  top: 100px;
  z-index: 2;
  font-family: 'Limelight', cursive;
  font-size: 33px;
  text-align: center;
  /* background-color: #222; */
  color: #80000f;
  content: 'Please clear the validation errors above';
  width: calc(100vw - 70px);
  /* height: 44px; */
  left: 50%;
  transform: translateX(-50%);
}

button{

  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  filter: invert(10%);

}

#lang-select button:hover{
  filter: brightness(110%) drop-shadow(0px 0px 7px #fff);
}

#mask{
  -webkit-mask-image: url('../images/muchamask.png');
  mask-image: url('../images/muchamask.png');
  width: 410px;
  height: 574px;
  position: absolute;
}

@keyframes reset {
  0%{
    top: 233px;
  }
  30%{
    text-shadow: -23px -6px #020107;
  }
  100%{
    top: 0;
    text-shadow: 13px -6px #020107;
  }
}

#mask button{
  position: absolute;
  width: 100%;
  height: 80px;
  text-shadow: -13px -6px #020107;
  top: 233px;
  letter-spacing: 18px;
  border-radius: 5px;
  background: #c9c9c9c7;
  color: #fbfbfb;
  font-family: 'Limelight', cursive;
  font-size: 64px;
  filter: none;
  animation: 5s 2s reset ease-in-out forwards;
}

#mask button:hover, #mask button:focus{
  box-shadow: inset 13px -6px 26px 13px #020107;
}

#lang-select span{
  font-family: 'Limelight', cursive;
  font-size: 57px;
  color: #fbfbfb;
  filter: drop-shadow(0px 0px 3px #fff);
  grid-area: ctext;
}

/* #lang-select:after{
  content: '';
  width: 100%;
  height: 100%;
  background: red;
} */

#lang-select span:hover{
  filter: drop-shadow(0px 0px 7px #fff);
}

#lang-select > button:not(:last-of-type){
  background-image: url('../images/arrow.png');
  width: 50px;
  height: 64px;
}

#lang-select > button:first-of-type{
  /* margin-left: 2%; */
  grid-area: larrow;
}

#lang-select > button:nth-of-type(2){
  /* margin-right: 2%; */
  transform: rotateZ(180deg);
  grid-area: rarrow;
}

/* #lang-select > a{
  display: inherit;
} */

#copy, #email{
  transform: scale(1.5);
  height: 24px;
  width: 24px;
}

#copy{
  background-image: url('../images/copy.png');
  grid-area: lcopy;
}

#lang-select > a{
  display: flex;
  grid-area: remail;
}

#email{
  background-image: url('../images/email.png');
}



#copy:hover::after, #email:hover::after{
  position: absolute;
  font-family: monospace;
  line-height: 2;
  top: 26px;
  text-align: center;
  font-size: 8px;
  color: white;
  border-radius: 3px;
  width: 90px;
  height: 16px;
  background-color: black;
}

#copy:hover::after{
  content: 'copy to clipboard';
  left: 0;
}

#email:hover::after{
  content: 'send via email';
  right: 0;
}

@keyframes fadeOut{
  0% {opacity: 1;}
	100% {opacity: 0;}
}

#copiedPopup{
  display: none;
  margin: 1em auto 0;
  background: #3d601c;
  text-transform: capitalize;
  letter-spacing: 1px;
  height: 77px;
  position: absolute;
  bottom: -113px;
  width: 200px;
  cursor: default;
  text-align: center;
  z-index: 8;
  line-height: 1;
  border-radius: 11px;
  color: whitesmoke;
  font-size: 72px;
  font-family: uppereastsideregular;
}

@media screen and (min-width: 510px) {

  .topFlourish::before{
    content: '';
    display: block;
    position: absolute;
    top: -80px;
    width: 200px;
    height: 210px;
    background: url('../images/flourishes.png') 0 -3px no-repeat;
  }

  .topFlourish::after{
    content: '';
    display: block;
    position: absolute;
    top: -80px;
    right: 0;
    width: 200px;
    height: 210px;
    background: url('../images/flourishes.png') 0 -3px no-repeat;
    transform: rotateY(180deg);
  }



  .bottomFlourish::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -45px;
    transform: rotateY(180deg);
    left: 0;
    width: 200px;
    height: 197px;
    background: url('../images/flourishes.png') -3px -218px no-repeat;

  }

  .bottomFlourish::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -45px;
    right: 0;
    width: 200px;
    height: 197px;
    background: url('../images/flourishes.png') -3px -218px no-repeat;
  }




  ul{
    grid-gap: 0 20px;
    max-width: 90%;
    margin: 0 auto;
  }

  li:last-of-type{
    grid-column: 1 / -1;
    position: relative;
  }

  #code{
    max-width: 90%;
  }

  #mainh1{
    display: none;
  }

  header{
    margin-bottom: 13.5em;
    height: 3em;
    background: var(--smallFileName) 50% no-repeat;
  }

  header:before{
    display: block;
    font-family: 'uppereastsideregular';
    font-size: 60px;
    letter-spacing: 6px;
    text-align: center;
    content: "15 Puzzle Generator";
    background: #fbfbfb;
    line-height: 52px;
    color: #000;
    mix-blend-mode: lighten;
    margin-bottom: 1.5em;
  }

}


@media screen and (min-width: 640px) {
  #lang-select span{
    font-size: 72px;
  }
}



@media screen and (min-width: 768px) {

  #lang-select{
    grid: ". larrow ctext ctext rarrow ." 60% ". . lcopy remail . ." 40% / 10% 52px 1fr 1fr 52px 10%;
  }

  hr{
    display: none;
  }
  form div{
    flex-direction: row;
  }

  fieldset{
    flex: 1;
  }

  legend{
    margin-bottom: 1em;
  }

  fieldset:nth-of-type(2){
    margin-top: 0;
    border-left: 1px solid #000;
  }

  header{
    height: 5em;
    background: var(--medFileName) 50% no-repeat;
  }

  header:before{
    font-size: 96px;
    line-height: 88px;
    margin-bottom: .5em;
  }
}



@media screen and (min-width: 1080px) {

  header{
    height: 9em;
    background: var(--bigFileName) 50% no-repeat;
  }

  header:before{
    font-size: 160px;
    line-height: 152px;
  }
}



@media screen and (min-width: 1489px) and (max-width: 2244px){

  li:last-of-type{
    grid-column: auto;
  }

}





/* l */
