@font-face {
    font-family: 'uppereastsideregular';
    src: url('../UpperEastSide-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Mallanna', sans-serif;
}

body{
  background-color: #fbfbfb;
}







p > a{
  text-decoration: underline;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #e1e1e1;
  color: #700080;
}

p > a:hover{
  color: #e1e1e1;
  background-color: #700080;
}

footer p > a{
  letter-spacing: 4px;
}









h1{
  margin: 2em auto 1.5em;
  font-family: 'uppereastsideregular';
	font-size: 52px;
  letter-spacing: 6px;
  text-align: center;
  width: 95%;
}

p{
  margin: 0 2em;
  color: blue;
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0 2em;
}

footer p{
  margin: 0;
  font-size: 15px;
  color: #2f2928;
}



/* label:nth-of-type(2){
  margin-top: .5em;
} */
form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8em;
}

form div{
  display: flex;
  flex-direction: column;
}

label{
  display: block;
  text-align: center;
}

fieldset{
  border: none;
}

hr{
  width: 90%;
  border: .5px solid black;
  margin: auto;
}

fieldset:nth-of-type(1){
  /* border-bottom: 1px solid black; */
}

fieldset:nth-of-type(2){
  margin-top: 1em;
}

legend{
  width: 100%;
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}

fieldset input{
  display: block;
  margin: 0 auto 1em;
  width: 148px;
}


fieldset input[type="color"]{
  width: 100px;
  border: none;
  background-color: transparent;
  margin: 4px auto .5em;
  height: 30px;
}

fieldset select{
	margin-bottom: 1em;
}


input[type="checkbox"]{
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  width: 20px;
  margin: 0 0 0 10px;
}

input[type="checkbox"]:after{
  content: "x";
  position: relative;
  display: block;
  top: 4px;
  width: 20px;
  text-align: center;
  font-size: 39px;
  line-height: 8px;
  color: #fbfbfb;
  background-color: #80000f;
  height: 17px;
}

input[type="checkbox"]:checked:after{
  content: "\2713";
  font-size: 26px;
  line-height: 17px;
  background-color: #0f8000;
}




#error{
  margin-top: 2em;
	color: red;
}

#puzz{
  margin-top: 2em;
  margin-bottom: 1em;
}

#submit{
	width: 36%;
	padding: 3px 5px;
	font-family: 'uppereastsideregular';
	font-size: 38px;
	margin-top: 1em;
	background: linear-gradient(to bottom, #ececec 50%, #d1d1d1 100%);
	border: 2px solid #aaa;
	letter-spacing: 1px;
}




#submit:focus{
	border-color: #0f8000;
}



#submit:active{
	border-color: transparent;
}




#code{
  background-color: #eee;
  min-height: 500px;
  /* width: 80%; */
  padding: 5px;
  /* margin-top: 50px; */
}

pre span,
pre code{
  color: #80000f;
  font-family: monospace;
}

pre code{
  white-space: pre-line;
}



#css, #js, #helpcss{
  display: none;
}

#buttons{
  position: relative;
  display: flex;
  justify-content: center;
  width: 80%;
  top: 48px;
}



#buttons > button{
	position: relative;
  padding: 3px 13px;
  border: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: linear-gradient(to bottom, #ececec 50%, #d1d1d1 100%);
	font-family: 'uppereastsideregular';
	margin: 0 4px;
	z-index: 0;
	font-weight: 900;
	font-size: 20px;
	letter-spacing: 1px;
  cursor: pointer;
}

button:focus{
	outline: none;
}

#buttons > button.selected{
  background: #fff;
	z-index: 2;
	border-bottom-color: #fff;
}

#buttons > button.selected::before{
	box-shadow: 2px 2px 0 #fff;
}

#buttons > button.selected::after{
	box-shadow: -2px 2px 0 #fff;
}

#buttons::after{
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #aaa;
  z-index: 1;
}

#buttons::before{
	z-index: 1;
}

#buttons > button::before,
#buttons > button::after{
	position: absolute;
	bottom: -1px;
	width: 7px;
	height: 7px;
	content: " ";
}

#buttons > button::before,
#buttons > button::after{
	border: 1px solid #aaa;
}

#buttons > button::before{
	left: -8px;
	border-bottom-right-radius: 8px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 #ececec;
}

#buttons > button::after{
	right: -8px;
	border-bottom-left-radius: 8px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 #ececec;
}

#copy-email{
  /* position: absolute; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 105px;
  background-color: #2b2833;
  /* top: 40px;
  right: 6px; */
}

#copy-email > button{

  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transform: scale(1.5);
  height: 24px;
  width: 24px;
}

#icons a{
  display: inherit;
}

#copy{
  background-image: url('../images/copy.png');
}

#email{
  background-image: url('../images/email.png');
}

#copy:active,
#email:active{
  transform: scale(1.3);
}

#copy:hover::after{
  position: absolute;
  content: 'copy to clipboard';
  font-family: monospace;
  line-height: 2;
  top: 22px;
  right: -20px;
  text-align: center;
  font-size: 8px;
  color: white;
  border-radius: 3px;
  width: 90px;
  height: 16px;
  background-color: black;
}

#email:hover::after{
  position: absolute;
  content: 'send via email';
  font-family: monospace;
  line-height: 2;
  top: 22px;
  right: -20px;
  text-align: center;
  font-size: 8px;
  color: white;
  border-radius: 3px;
  width: 90px;
  height: 16px;
  background-color: black;
}

@keyframes fadeOut{
  0% {opacity: 1;}
	100% {opacity: 0;}
}

#copiedPopup{
  display: none;
  margin: 1em auto 0;
  background: #3d601c;
  text-transform: capitalize;
  letter-spacing: 1px;
  height: 77px;
  position: absolute;
  bottom: -113px;
  width: 200px;
  cursor: default;
  text-align: center;
  z-index: 8;
  line-height: 1;
  border-radius: 11px;
  color: whitesmoke;
  font-size: 72px;
  font-family: uppereastsideregular;
}



@media screen and (min-width: 768px) {

  hr{
    display: none;
  }
  form div{
    flex-direction: row;
  }

  fieldset{
    flex: 1;
  }

  legend{
    margin-bottom: 1em;
  }

  fieldset:nth-of-type(1){
    /* border-bottom: none; */
  }
  fieldset:nth-of-type(2){
    margin-top: 0;
    border-left: 1px solid #000;
  }


  #mainh1{
    display: none;
  }

  header{
    margin: 3em 0;
    height: 5em;
    /* background: url("bgsmall2.jpg") 50% no-repeat; */
    /* background-position: center; */
    background-repeat: no-repeat;
  }

  header:before{
    display: block;
    font-family: 'uppereastsideregular';
    font-size: 96px;
    letter-spacing: 6px;
    text-align: center;
    content: "15 Puzzle Generator";
    background: #fbfbfb;
    line-height: 88px;
    color: #000;
    mix-blend-mode: lighten;
  }
}



@media screen and (min-width: 1080px) {
  header{
    height: 9em;
    /* background: url("bgbig2.jpg") 50% no-repeat; */
    /* background-position: 50% -50%; */
  }

  header:before{
    font-size: 160px;
    line-height: 152px;
  }
}






/* l */
