@font-face {
    font-family: 'uppereastsideregular';
    src: url('UpperEastSide-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Mallanna', sans-serif;
}

h1{
  margin: 1.5em auto 1.5em;
  text-align: center;
	font-family: 'uppereastsideregular';
	font-size: 48px;
  letter-spacing: 6px;
}

p{
  margin: 0 2em;
  color: blue;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0;
}



#inputs{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
  position: relative;
}

#inputs input{
  display: block;
  margin-bottom: 1em;
}

#inputs input[type="color"]{
  width: 100px;
  border: none;
  background-color: transparent;
  margin: 4px auto;
  height: 30px;
}

#inputs select{
	margin-bottom: 1em;
}

#form{
  width: 35%;
}

#error{
	color: red;
}

#submit{
	width: 100%;
	padding: 3px 5px;
	font-family: 'uppereastsideregular';
	font-size: 38px;
	margin-top: 1em;
	background: linear-gradient(to bottom, #ececec 50%, #d1d1d1 100%);
	border: 2px solid #aaa;
	letter-spacing: 1px;
}


#submit:focus{
	border-color: green;
}
#submit:active{
	border-color: transparent;
}


#code{
  background-color: #2b2833;
  min-height: 500px;
  width: 80%;
  padding: 5px;
  margin-top: 50px;
}

pre span,
pre code{
  color: #fff;
  font-family: monospace;
}

pre code{
  white-space: pre-line;
}

.func{
  color: peachpuff;
}

#css, #js{
  display: none;
}

#buttons{
  position: relative;
  display: flex;
  justify-content: center;
  width: 80%;
  top: 48px;
}



#buttons > button{
	position: relative;
  padding: 3px 13px;
  border: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: linear-gradient(to bottom, #ececec 50%, #d1d1d1 100%);
	font-family: 'uppereastsideregular';
	margin: 0 4px;
	z-index: 0;
	font-weight: 900;
	font-size: 20px;
	letter-spacing: 1px;
}

button:focus{
	outline: none;
}

#buttons > button.selected{
  background: #fff;
	z-index: 2;
	border-bottom-color: #fff;
}

#buttons > button.selected::before{
	box-shadow: 2px 2px 0 #fff;
}

#buttons > button.selected::after{
	box-shadow: -2px 2px 0 #fff;
}

#buttons::after{
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #aaa;
  z-index: 1;
}

#buttons::before{
	z-index: 1;
}

#buttons > button::before,
#buttons > button::after{
	position: absolute;
	bottom: -1px;
	width: 7px;
	height: 7px;
	content: " ";
}

#buttons > button::before,
#buttons > button::after{
	border: 1px solid #aaa;
}

#buttons > button::before{
	left: -8px;
	border-bottom-right-radius: 8px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 #ececec;
}

#buttons > button::after{
	right: -8px;
	border-bottom-left-radius: 8px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 #ececec;
}

#icons{
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 75px;
  top: 37px;
  right: 6px;
}

#icons button{

  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transform: scale(1.5);
  height: 24px;
  width: 24px;
}

#copy{
  background-image: url('./copy.png');
}

#email{
  background-image: url('./email.png');
}

#copy:active,
#email:active{
  transform: scale(1.3);
}

#copy:hover::after{
  position: absolute;
  content: 'copy to clipboard';
  font-family: monospace;
  line-height: 2;
  top: 22px;
  right: -20px;
  text-align: center;
  font-size: 8px;
  color: white;
  border-radius: 3px;
  width: 90px;
  height: 16px;
  background-color: black;
}

#email:hover::after{
  position: absolute;
  content: 'send via email';
  font-family: monospace;
  line-height: 2;
  top: 22px;
  right: -20px;
  text-align: center;
  font-size: 8px;
  color: white;
  border-radius: 3px;
  width: 90px;
  height: 16px;
  background-color: black;
}

@keyframes fadeOut{
  0% {opacity: 1;}
	100% {opacity: 0;}
}

#copiedPopup{
  display: none;
  margin: 1em auto 0;
  background: #3d601c;
  text-transform: capitalize;
  letter-spacing: 1px;
  height: 77px;
  position: absolute;
  bottom: -113px;
  width: 200px;
  cursor: default;
  text-align: center;
  z-index: 8;
  line-height: 1;
  border-radius: 11px;
  color: whitesmoke;
  font-size: 72px;
  font-family: uppereastsideregular;
}










/* l */
